<!doctype html>
<!-- X3 website by imagevuex.com -->
{% spaceless %}

{# base_url from page.settings.base_url #}
{% set baseurl = page.settings.base_url|replace({'http://': '', 'https://': ''})|trim('/')|default(page.base_url) %}

{# Global page vars #}
{% set absolutepath = baseurl|addprotocol %}
{% set rootpath = baseurl|replace({(page.domain_name): ''}) %}
{% set assetspath = page.settings.cdn_files|trim('/')|default(rootpath) %}
{% set absolutepath_page = page.permalink|setpath(absolutepath) %}
{% set rootpath_page = page.permalink|setpath(rootpath) %}
{% set preview_image %}{% include 'partials/preview-image.html' %}{% endset %}
{% set preview_image_full %}{{ absolutepath }}{{ preview_image|replace({"./content":"/content"}) }}{% endset %}

{# CDN core path #}
{% if page.settings.cdn_core %}
	{% set cdn_core = 'https://d30xwzl2pxzvti.cloudfront.net' %}
{% else %}
	{% set cdn_core = rootpath ~ '/public' %}
{% endif %}

{# VARS #}
{% set page_title = '' %}
{% set page_description = '' %}

{# FILE #}
{% if page.template_name == 'file' %}

	{# Get parent dirname #}
	{% set dirname = page.permalink|dirname %}
	{% if dirname == '.' or dirname is empty %}{% set dirname = '/' %}{% endif %}
	{% set parent = get(dirname) %}

	{# image vars #}
	{% set this = page.file_path %}
	{% set image_description = '' %}
	{% set file_index = 0 %}
	{% set myimage = '' %}

	{# find image #}
	{% for image in parent.images %}

		{% if this == image.url %}

			{# redirect if link #}
			{% if image.link %}
				{{ redirect(image.link) }}

			{# create meta #}
			{% else %}

				{% set folder_path = assetspath ~ parent.file_path|trim(".") ~ '/' %}
	      {% set page_title = getDefault(image.title, parent.gallery.image.title, parent.gallery.image.title_include, image.name)|striptags('<a><span><em><i><b><strong><small><s><mark>')|replace({'{file_name}': image.file_name|removeExtension, '{file_name_ext}': image.file_name, '{path}': folder_path, '{image_path}': folder_path ~ image.file_name})|default(image.name) %}
				{% set image_description = getDefault(image.description, parent.gallery.image.description, parent.gallery.image.description_include, image.name)|striptags('<a><span><em><i><b><strong><small><s><br><mark><img><kbd><code><button>')|replace({'{file_name}': image.file_name|removeExtension, '{file_name_ext}': image.file_name, '{path}': folder_path, '{image_path}': folder_path ~ image.file_name}) %}
				{% set page_description = image_description|default(page_title~' | '~parent.title) %}
				{% set file_index = loop.index0 %}
				{% set myimage = image %}
			{% endif %}

		{% endif %}
	{% endfor %}

	{# set file template #}
	{% set template = 'partials/file.html' %}
{# PAGE #}
{% else %}
	{% set page_title = page.title %}
	{% set page_description = page.description %}
	{% set template = 'partials/content.html' %}
{% endif %}

{# BUILD #}
{% include 'partials/head.html' %}
{% include template %}
{% include 'partials/footer.html' %}
{% endspaceless %}

<!-- X3 website by imagevuex.com -->